{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <section class="p-strip--image is-light" style="background-image:url('{{ `/images/venue2.jpg` | relURL }}')">
    <div class="row">
      <div class="col-8 p-card--overlay">
        <img src='{{ "/images/uca22logo_orange.svg" | relURL }}' alt="" width="200em">
        <h1>{{.Title}}</h1>
        <h4>{{.Site.Params.descriptionOnHomepage}}</h4>
        <p>{{.Site.Params.period}}</p>
        <a href="tickets"><button>{{ i18n "tickets" }}</button></a>
        <a href="sessions"><button>{{ i18n "sessions" }}</button></a>
        <a href="online"><button>{{ i18n "join_online" }}</button></a>
        <a href="call-for-proposals"><button>{{ i18n "submit_proposal" }}</button></a>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <h2>{{ i18n "featured" }}</h2>
    </div>
    <div class="row" id="random_speakers">
    </div>
    <div class="row">
      <a href="sessions"><button>{{ i18n "all_sessions" }}</button></a>
    </div>
  </section>
  <section class="p-strip">
    <div class="row">
      {{ range first 3 ( sort (where $regularPages "Section" "news") "Date" "desc" ) }}
      {{ $.Scratch.Add "i" 1 }}{{ $i := $.Scratch.Get "i" }}
      <div class="col-4">
        <a href="{{ .RelPermalink }}">
          <h3>{{.Title}}</h3>
        </a>
        <b>{{.Date.Format "2006-01-02"}}</b><br />
        <span>{{if ge (len .Summary) 100}} {{slicestr .Summary 0 100}} {{else}} {{.Summary}} {{end}}..</span><br />
        <div><a href="{{ .RelPermalink }}"><button>Read More</button></a></div>
      </div>
      {{ end }}
    </div>
  </section>
  <section class="p-strip">
    <div class="row">
      <h2>{{ i18n "sponsors" }}</h2>

      <h3>{{ i18n "gov_partners" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "government" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

      <h3>{{ i18n "diamond_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "diamond" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "gold_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "gold" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "silver_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "silver" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "bronze_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "bronze" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "dinner_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "dinner" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "supporter_sp" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "supporter" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </div>

        <h3>{{ i18n "partner_cm" }}</h3>
        <div class="p-logo-section">
          <div class="p-logo-section__items">
        {{ range where $allPages "Params.group" "community" }}
        <div class="p-logo-section__item">
          <a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.photo}}" alt="" />
          </a>
        </div>
        {{ end }}
        </div>
        </ul>  
         </div>
  </section>
</main>
<script>
  function shuffle(array) {
    array.sort(() => Math.random() - 0.5);
  }
  let speakers = []
  {{ range ( sort (where $regularPages "Section" "sessions") "Date" "asc" ) }}
  {{ $permalink := .Permalink }}
  {{ $title := .Title }}
    {{ range .Params.speakers }}
      speakers.push({
        name: "{{.name}}",
        profile: '{{with .profile}}{{ $permalink }}{{.}}{{else}}{{ "/images/ubuntu.png" | relURL }}{{end}}',
        title: '{{$title}}',
        time: '{{.Date.Format "2006-01-02T15:04:05-07:00"}}',
        permalink: '{{$permalink}}'
      })
    {{ end }}
  {{ end }}
  shuffle(speakers)
  let speakerSection = document.getElementById('random_speakers')
  for(let i = 0; i < 6; i++) {
    let speaker = speakers[i];
    speakerSection.innerHTML += `
      <div class="col-6">
        <div class="p-media-object--large">
          <img src="${speaker.profile}" class="p-media-object__image is-round" alt="" style="object-fit: cover; width: 96px; height: 96px;">
          <div class="p-media-object__details">
            <a href="${speaker.permalink}">
              <h3>${speaker.name}</h3>
            </a>
            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item">
                ${speaker.title}
              </li>
            </ul>
            <b><u class="timedisplay" style="text-decoration-style: dotted;">${speaker.time}</u></b>
          </div>
        </div>
      </div>
    `
  }
</script>
{{ end }}


